html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.page-content {
    margin-bottom: 48px;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.btn-table {
    margin: 2px;
}
