@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação esqueci minha senha - Serviço de estoque e vendas";
}

<h1>Confirmação esqueci minha senha</h1>
<p>
    Verifique seu e-mail para recuperar sua senha.
</p>
