@page
@model LoginModel

@{
    ViewData["Title"] = "Entrar - Serviço de estoque e vendas";
}

<h1>Entrar</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h3>Seja bem vindo/a!</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="form-label">E-mail</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="form-label">Senha</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            Lembre-se de mim
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-success">Entrar</button>
                </div>
                <div>
                    <p>
                        <a style="color:black; text-decoration:none;" id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
