@model Storage.App.MVC.Models.EnterprisesPageViewModel;

@{
    ViewData["Title"] = "Empresas - Serviço de estoque e vendas";
}

<h1>Empresas</h1>

<p>
    <a asp-action="Create">Cadastrar nova empresa</a>
</p>

<section class="page-content">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Enterprises)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Editar <i class="fa fa-pencil"></i></a> 
                        <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.Id">Detalhes <i class="fa fa-book"></i></a> 
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Excluir <i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

<hr />

<section class="activity-history">
    <partial name="_ActivityHistory.cshtml" />
</section>