@model Storage.App.MVC.Models.EnterprisesPageViewModel;

@{
    ViewData["Title"] = "Empresas - Serviço de estoque e vendas";
}

<h1>Empresas</h1>

<p>
    <a asp-action="Create">Cadastrar nova empresa</a>
</p>

<section class="page-content">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Enterprises)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

<section class="activity-history">
    <partial name="ActivityHistory.cshtml" />
</section>